<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/management/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/management/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/management/plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/management/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/management/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/management/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/management/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/management/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/management/css/common.css">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
            </ul>

        </nav>
        <!-- /.navbar -->
        <div class="tlinks">Collect from <a href="#">手机网站模板</a></div>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/management" class="brand-link">
                <img src="/management/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">后台管理</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/management/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Admin</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-tree"></i>
                                <p>
                                    商品管理
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">



                                <li class="nav-item">
                                    <a href="/management/partsMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>配置管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/productMgrM" class="nav-link active">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>商品列表</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/categoryMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>分类管理</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-edit"></i>
                                <p>
                                    用户管理
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>用户管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/priceServiceMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>用户询价</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/suggestServiceMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>用户建议</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-table"></i>
                                <p>
                                    订单管理
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/management/orderMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>订单列表</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-tree"></i>
                                <p>
                                    方案管理
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/management/caseMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>方案列表</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/management/caseMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>创建方案</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-edit"></i>
                                <p>
                                    视频管理
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>视频列表</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/management/videoMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>创建视频</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-table"></i>
                                <p>
                                    集成伙伴
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/management/integratorMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>集成伙伴列表</p>
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>修改集成伙伴</p>
                                  </a>
                                </li> -->
                                <li class="nav-item">
                                    <a href="/management/integratorMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>创建集成伙伴</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-edit"></i>
                                <p>
                                    培训管理
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/management/trainingServiceMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>用户培训</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/trainingMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>创建培训</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/trainingMgrM" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>培训管理</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-table"></i>
                                <p>
                                    页面管理
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/management/homeMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>首页管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/supportMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>支持管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/whoMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>我们是谁</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/contractMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>联系我们</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/guideMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>购物指南</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/softwareMgr" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>销售工具</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="nav-header">LABELS</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-circle-o text-danger"></i>
              <p class="text">Important</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-circle-o text-warning"></i>
              <p>Warning</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-circle-o text-info"></i>
              <p>Informational</p>
            </a>
          </li> -->
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">商品列表</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v2</li> -->
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <%if(products && products.length > 0){ products.forEach(function(pp, ii){ %>
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">商品</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="title">商品标题</label>
                                        <input class="form-control title" value="<%=pp.title %>" type="text"
                                            placeholder="例如：托辊式中驱皮带机G5102">
                                    </div>
                                    <div class="form-group">
                                        <label for="identifier">商品编号</label>
                                        <input class="form-control identifier" value="<%=pp.identifier %>" type="text"
                                            placeholder="例如：G5102_517*2280">
                                    </div>
                                    <div class="form-group">
                                        <label for="size">商品大小</label>
                                        <input class="form-control size" value="<%=pp.size %>" type="text" placeholder="例如：宽度B/B X 总长度L（mm)">
                                    </div>
                                    <div class="form-group">
                                        <label for="weight">商品重量</label>
                                        <input class="form-control weight" value="<%=pp.weight %>" type="text"
                                            placeholder="例如：500kg">
                                    </div>
                                    <div class="form-group">
                                        <label for="weight">商品促销文本</label>
                                        <input class="form-control promotion" value="<%=pp.promotion.promotionText %>"
                                            type="text" placeholder="例如：「赠送价值2999元的高品质手推车1辆">
                                    </div>
                                    <div class="form-group">
                                        <label for="onSale">是否是促销商品</label>
                                        <select class="form-control onSale">
                                            <%if(pp.onSale == 1){ %>
                                            <option>是</option>
                                            <option>否</option>
                                            <%}else{%>
                                            <option>否</option>
                                            <option>是</option>
                                            <%} %>
                                        </select>
                                    </div>

                                    <div class="form-group categoryDom">
                                        <label for="onSale">选择分类</label>
                                        <select class="form-control category">
                                            <%if(pp.store && pp.store.storeId >=0){%>
                                            <option data-target="<%=pp.store.storeId %>">
                                                <%=pp.store.storeName %>
                                            </option>
                                            <%}else{%>
                                            <option>请选择</option>
                                            <%} %>
                                            <%if(stores && stores.length > 0){ stores.forEach(function(child){ %>
                                            <option data-target="<%=child.storeId %>">
                                                <%=child.storeName %>
                                            </option>
                                            <%})} %>
                                            <!-- <option data-target="1">箱式输送机</option> -->
                                            <!-- <option data-target="2">托盘输送机</option> -->
                                        </select>
                                    </div>

                                    <%if(pp.parts && pp.parts.length > 0){ pp.parts.forEach(function(ss, gg){ %>
                                    <div class="form-group partsDom">
                                        <label for="onSale">选择配置 </label>
                                        <%if(gg == 0){ %>
                                        <label class="addPartsDom" for="onSale"> +</label>
                                        <%} %>
                                        <select class="form-control parts">
                                            <option data-target="<%=ss.partsId %>">
                                                <%=ss.name %>
                                            </option>
                                            <%if(parts && parts.length > 0){ parts.forEach(function(child){ %>
                                            <option data-target="<%=child.partsId %>">
                                                <%=child.name %>
                                            </option>
                                            <%})} %>
                                            <!-- <option data-target="psId_13984500430035">承载(kg/m)</option> -->
                                        </select>
                                    </div>
                                    <%})}else{%>
                                    <div class="form-group partsDom">
                                        <label class="addPartsDom" for="onSale"> +</label>
                                        <select class="form-control parts">
                                            <option>请选择</option>
                                            <%if(parts && parts.length > 0){ parts.forEach(function(child){ %>
                                            <option data-target="<%=child.partsId %>">
                                                <%=child.name %>
                                            </option>
                                            <%})} %>
                                            <!-- <option data-target="psId_13984500430035">承载(kg/m)</option> -->
                                        </select>
                                    </div>
                                    <%} %>



                                    <%if(pp.property && pp.property.length > 0){ pp.property.forEach(function(pro, iii){%>
                                    <div class="form-group propertyDom">
                                        <label for="onSale">商品规格 </label>
                                        <%if(iii == 0){ %>
                                        <label class="addPropertyDom" for="onSale"> +</label>
                                        <%}%>
                                        <div class="row">
                                            <div class="col-5">
                                                <input type="text" class="form-control" value="<%=pro.name %>"
                                                    placeholder="例如：517*2280">
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control" value="<%=pro.amount %>"
                                                    placeholder="金额">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control" value="<%=pro.qty %>"
                                                    placeholder="库存">
                                            </div>
                                        </div>
                                    </div>
                                    <%})}else{%>
                                    <div class="form-group propertyDom">
                                        <label for="onSale">商品规格 </label>
                                        <label class="addPropertyDom" for="onSale"> +</label>
                                        <div class="row">
                                            <div class="col-5">
                                                <input type="text" class="form-control" placeholder="例如：517*2280">
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control" placeholder="金额">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control" placeholder="库存">
                                            </div>
                                        </div>
                                    </div>
                                    <%} %>


                                    <div class="mb-3">
                                        <label for="description">商品描述</label>
                                        <textarea id="description" name="description" style="width: 100%; display: none;"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="structure">商品结构</label>
                                        <textarea id="structure" name="structure" style="width: 100%; display: none;"></textarea>
                                    </div>


                                    <div class="mb-3">
                                        <label for="configure">配置说明</label>
                                        <textarea id="configure" name="configure" style="width: 100%; display: none;"></textarea>
                                    </div>


                                    <div class="mb-3">
                                        <label for="help">常见问题帮助</label>
                                        <textarea id="help" name="help" style="width: 100%; display: none;"></textarea>
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleInputFile">商品图片</label>
                                        <div class="input-group" data-provides="fileinput">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input product1" id="exampleInputFile"
                                                    accept="image/gif,image/jpeg,image/x-png">
                                                <label class="custom-file-label" for="exampleInputFile">选择图片</label>
                                            </div>
                                            <div class="input-group-append">
                                                <!-- <span class="input-group-text" id="">Upload</span> -->
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">商品图片</label>
                                        <div class="input-group" data-provides="fileinput">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input product2" id="exampleInputFile"
                                                    accept="image/gif,image/jpeg,image/x-png">
                                                <label class="custom-file-label" for="exampleInputFile">选择图片</label>
                                            </div>
                                            <div class="input-group-append">
                                                <!-- <span class="input-group-text" id="">Upload</span> -->
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">商品图片</label>
                                        <div class="input-group" data-provides="fileinput">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input product3" id="exampleInputFile"
                                                    accept="image/gif,image/jpeg,image/x-png">
                                                <label class="custom-file-label" for="exampleInputFile">选择图片</label>
                                            </div>
                                            <div class="input-group-append">
                                                <!-- <span class="input-group-text" id="">Upload</span> -->
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>

                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">提交修改</button>
                                    </div>
                                </div>

                        </div>
                        <!-- /.card-body -->

                        </form>
                    </div>
                    <%})} %>
                    <!-- /.card -->

                </div>
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <!-- <strong>Copyright &copy; 2014-2018 <a href="#">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.0-alpha
    </div> -->
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/management/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/management/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="/management/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="/management/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="/management/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/management/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/management/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="/management/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="/management/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/management/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="/management/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/management/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/management/js/adminlte.js"></script>
    <script src="/management/plugins/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- <script src="/management/js/pages/dashboard.js"></script> -->
    <!-- AdminLTE for demo purposes -->
    <script src="/management/js/demo.js"></script>
    <script src="/js/bootstrap-fileinput.js"></script>
    <script>
        $(function () {
            var descriptionEditor = null;
            var structureEditor = null;
            var configureEditor = null;
            var helpEditor = null;
            // var pid = 'pid_' + new Date().getTime();
            // ClassicEditor
            //     .create(document.querySelector('#description'), {
            //         ckfinder: {
            //             uploadUrl: '/api/uploadImages?command=description&pid=' + pid + '&type=Files&responseType=json'
            //         }
            //     })
            //     .then(function (editor) {
            //         descriptionEditor = editor;
            //         // The editor instance
            //     })
            //     .catch(function (error) {
            //         console.error(error)
            //     });

            // ClassicEditor
            //     .create(document.querySelector('#structure'), {
            //         ckfinder: {
            //             uploadUrl: '/api/uploadImages?command=structure&pid=' + pid + '&type=Files&responseType=json'
            //         }
            //     })
            //     .then(function (editor) {
            //         structureEditor = editor;
            //         // The editor instance
            //     })
            //     .catch(function (error) {
            //         console.error(error)
            //     })

            // ClassicEditor
            //     .create(document.querySelector('#configure'), {
            //         ckfinder: {
            //             uploadUrl: '/api/uploadImages?command=configure&pid=' + pid + '&type=Files&responseType=json'
            //         }
            //     })
            //     .then(function (editor) {
            //         configureEditor = editor;
            //         // The editor instance
            //     })
            //     .catch(function (error) {
            //         console.error(error)
            //     })

            // ClassicEditor
            //     .create(document.querySelector('#help'), {
            //         ckfinder: {
            //             uploadUrl: '/api/uploadImages?command=help&pid=' + pid + '&type=Files&responseType=json'
            //         }
            //     })
            //     .then(function (editor) {
            //         helpEditor = editor;
            //         // The editor instance
            //     })
            //     .catch(function (error) {
            //         console.error(error)
            //     })

            // $('.addPartsDom').click(function (E) {
            //     var partsDom = $('.partsDom').clone();
            //     partsDom.find('.addPartsDom').remove();
            //     $($('.partsDom')[0]).after($(partsDom[0]))
            // })

            // $('.addPropertyDom').click((function (e) {
            //     var properyDom = $('.propertyDom').clone();
            //     properyDom.find('.addPropertyDom').remove();
            //     $($('.propertyDom')[0]).after($(properyDom[0]))
            // }))

            // $('.btn.btn-primary').click(function (e) {
            //     e.preventDefault();

            //     var name = $('input.name').val();

            //     var propertyDom = $('.propertyDom');
            //     let propertys = [];
            //     for (let k = 0; k < propertyDom.length; k++) {
            //         let property = $(propertyDom[k]).find('input');
            //         if (property && property.length >= 3) {
            //             propertys.push({
            //                 "name": property[0].value,
            //                 "amount": parseInt(property[1].value),
            //                 "qty": parseInt(property[2].value)
            //             })
            //         }
            //     }
            //     $.ajax({
            //         url: '/api/createParts',
            //         type: 'POST',
            //         data: {
            //             propertys,
            //             name,
            //         },
            //         async: false,
            //         cache: false,
            //         success: function (data) {
            //             console.log(data);
            //             if (data.status && data.status === 'success') {
            //                 alert('成功创建')
            //                 location.href = '/management'
            //             } else if (data.msg) {
            //                 alert(data.msg)
            //                 // console.log(data.message);
            //             }
            //         },
            //         error: function (data) {
            //             console.log(data.status);
            //         }
            //     });
            // })
        })
    </script>
</body>

</html>