<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>index</title>
	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/swiper.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

</head>

<body>
	<div class="header">
		<div class="container clearfix">
			<div class="pull-right langer-a"><a href="">中文</a>/<a href="">英文</a></div>
			<ul class="pull-right header-list clearfix">
				<li><a href="/index"><img src="/images/01.png"></a></li>
				<li><a href="/download">资料下载</a></li>
				<li><a href="">购物指南</a></li>
				<li><a href="/productlist">在线购买</a></li>
				<li><a href="/cart">购物车</a></li>
				<li><a href="/account">会员</a></li>
			</ul>
		</div>
	</div>
	<div class="container nav-c clearfix">
		<div class="pull-left logo"><a href=""><img src="/images/logo.png"></a></div>
		<ul class="pull-right nav-list clearfix">
			<li><a href="/index">首页</a></li>
			<li><a href="/productlist">产品</a></li>
			<li>
				<a href="/case">方案</a><span class="phone-i"><i class="glyphicon glyphicon-menu-down"></i></span>
				<ul class="nav-down">
					<!-- <li><a href="/integrator">查找集成伙伴</a></li>
					<li><a href="/integrator">查找集成伙伴</a></li>
					<li><a href="/integrator">查找集成伙伴</a></li>
					<li><a href="/integrator">查找集成伙伴</a></li>
					<li><a href="/integrator">查找集成伙伴</a></li> -->
				</ul>
			</li>
			<li><a href="/support">支持</a></li>
			<li class="active"><a href="/video">培训</a></li>
			<li><a href="/contact">联系我们</a></li>
			<li class="last"><a href="/integrator">查找集成伙伴</a></li>
		</ul>
		<button type="button" class="navbar-toggle collapsed">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="cp-banner"></div>
	<div class="container clearfix">
		<div class="pull-left cp-left">
			<div class="cp-left-tt">支持<span class="caret"></span></div>
			<ul class="cp-left-list">
				<li class="active"><a href="">视频</a></li>
				<!-- <li><a href="">培训计划</a></li>
				<li><a href="">工具书店</a></li>
				<li><a href="">德马创新学院</a></li> -->
			</ul>
		</div>
		<div class="cp-right pull-right">
			<div class="cp-right-tt">视频</div>
			<div class="video-title">请留意德马标准品网站，查看最新的公司视频，了解更多关于德马的信息，有助于你更好认识我们和学习最近技术</div>
			<%if(results && results.length > 0){ results.forEach(function(child){ %>
			<div class="fa-xq-title">
				<%=child.title %>
			</div>
			<ul class="video-list clearfix">
				<%if(child.videos && child.videos.length > 0){ child.videos.forEach(function(cld){%>
				<li>
					<a href="<%=cld.video %>" class="video-img">
						<img src="<%=cld.img && cld.img != ''  ?  cld.img: '/images/video01.png'%>">
						<!-- <video style="max-width: 200px; max-height: 150px;" src="<%=cld.video %>" controls="controls">
							您的浏览器不支持 video 标签。
						</video> -->
						<span></span>
					</a>
					<div class="video-bottom"><a href="<%=cld.video %>">
							<%=cld.title %></a></div>
					<!-- <div class="video-bottom"><a href="">德马智能物流系统在大型电商物流中心的应用案例</a></div> -->
				</li>
				<%})} %>
			</ul>
			<%})} %>
			<!-- <div class="fa-xq-title">创新焦点</div>
			<ul class="video-list clearfix">
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
			</ul>
			<div class="fa-xq-title">重点教育</div>
			<ul class="video-list clearfix">
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
				<li>
					<a href="" class="video-img">
						<img src="/images/video01.png">
						<span></span>
					</a>
					<div class="video-bottom"><a href="" >德马智能物流系统在大型电商物流中心的应用案例</a></div>
				</li>
			</ul> -->
		</div>
	</div>
	<div class="bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div class="dis-table">
						<div class="bottom-tt">客户服务</div>
						<ul class="bottom-list">
							<li><a href="/register">成为会员</a></li>
							<li><a href="">成为集成伙伴</a></li>
							<li><a href="/integrator">查找集成伙伴</a></li>
							<li><a href="/productlist">在线购买输送机</a></li>
							<li><a href="/support">系统支持</a></li>
							<li><a href="/support">维护支持</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="dis-table">
						<div class="bottom-tt">信息中心</div>
						<ul class="bottom-list">
							<li><a href="/register">成为会员</a></li>
							<li><a href="">成为集成伙伴</a></li>
							<li><a href="/support">系统支持</a></li>
							<li><a href="/support">维护支持</a></li>
						</ul>
					</div>
				</div>

				<div class="col-xs-3 pull-right">
					<div class="footer-link">
						<a href=""><img src="/images/footer03.png"></a>
						<a href=""><img src="/images/footer04.png"></a>
						<a href=""><img src="/images/footer05.png"></a>
					</div>
					<div class="bottom-phone">400-880-5180</div>
					<div class="bottom-phone bottom-phone-b">成为集成伙伴成为集成伙伴</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer text-center">
		<div class="container">成为集成伙伴成为集成伙伴</div>
	</div>
	<section class="zi-fdTel">
		<a href="" target="_onlineqq" class="tel">
			<span class="hide-txt">ＱＱ<br>交谈</span>
			<img class="" src="/images/a-14.png">
		</a>
		<a href="javascript:;" class="tel">
			<span class="hide-txt">微信<br>咨询</span>
			<div><img class="" src="/images/a-15.png"></div>
			<div class="hide-ewm"><img src="/images/fdTel-wx.jpg"><br>扫码微信轻松聊</div>
		</a>
		<a href="" target="_onlinekf" class="tel">
			<span class="hide-txt">在线<br>客服</span>
			<img class="" src="/images/a-05.png">
		</a>
		<a href="javascript:;" class="up"><img class="" src="/images/a-06.png"><br>顶部</a>
	</section>
</body>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script type="text/javascript">
	//右侧悬浮
	$(document).ready(function () {

		$(document).on("click", ".zi-fdTel .up", function () {
			$("html,body").animate({ scrollTop: 0 });
		});
		$(window).scroll(function () {
			var st = $(document).scrollTop();
			var $top = $(".zi-fdTel");
			if (st > 400) {
				$top.css({ display: 'block' });
			} else {
				if ($top.is(":visible")) {
					$top.hide();
				}
			}
		});

	});
	$(function () {
		var winWide = window.screen.width;

		var wideScreen = false;
		if (winWide >= 768) {

		} else {
			$(".cp-left-tt").click(function () {
				if ($(".cp-left-list").is(":hidden")) {
					$(".cp-left-list").slideDown("slow");
				} else {
					$(".cp-left-list").slideUp("slow");
				}
			});
		}
	})
	$(".navbar-toggle").click(function () {
		$(".nav-down").slideUp("slow");
		if ($(".nav-list").is(":hidden")) {
			$(".nav-list").slideDown("slow");
		} else {
			$(".nav-list").slideUp("slow");
		}
	});
	$(".phone-i").click(function () {
		if ($(this).parents("li").find(".nav-down").is(":hidden")) {
			$(".nav-down").slideUp("slow");
			$(this).parents("li").find(".nav-down").slideDown("slow");
		} else {
			$(this).parents("li").find(".nav-down").slideUp("slow");
		}
	}); 
</script>

</html>