<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/ranking.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>当前排名</title>
</head>

<body>
    <div class="wx_container">
        <img class="topBanner" src="/images/clock.png" alt="">
        <div class="top">
            <span class="title">她朵可</span>
            <div class="right">
                <span class="day colorOrange fontSize20">42天<span class="colorWhite fontSize16">打卡计划</span></span>
                <span class="fontSize10 colorGrey">初始体重：<%=result.data && result.data.initialWeight ? result.data.initialWeight:0%>公斤</span>
            </div>
        </div>
        <div class="count fontSize14">
            <img class="icon" src="/images/iconjifen.png" alt="" />
            <span>共有<%=result.persons && result.persons.length > 0 ? result.persons.length:0%>人参加计划</span>
        </div>
        <div class="ranking">
            <div class="title">
                <span class="left fontSize12 today"></span>
                <span class="right fontSize12">每天瘦身/公斤</span>
            </div>
            <%if(result.persons && result.persons.length > 0){ result.persons.forEach(function(item, index){%>
                <div class="person fontSize12">
                    <div class="left">
                        <span class="number"><%=index+1%></span>
                        <img src="<%=item.avator%>" alt="" class="per">
                        <span class="name"><%=item.name%></span>
                    </div>
                    <span class="right"><%=item.reduceWeight%></span>
                </div>
                <%})}%>
                    <!-- <div class="person fontSize12">
                <div class="left">
                    <span class="number">2</span>
                    <img src="/images/portrait.png" alt="" class="per">
                    <span class="name">海鸥</span>
                </div>
                <span class="right">1.2</span>
            </div>
            <div class="person fontSize12">
                <div class="left">
                    <span class="number">3</span>
                    <img src="/images/portrait.png" alt="" class="per">
                    <span class="name">海鸥</span>
                </div>
                <span class="right">1.5</span>
            </div> -->
        </div>

    </div>
    <script>
        var a = document.getElementsByClassName('today')[0]
        a.innerText = new Date().toLocaleDateString() + '排名';
    </script>
</body>

</html>